<!-- I AM @BOOK: <%= @book %> -->
    
<img src="<%= @book[:picture] %>"/>
<h3><%= @book[:title] %></h3>
<% @book[:authors].each do |author| %>
<h5><%= author %></h5>
<% end %> 

</br>
<hr>
</br>

<form method='post' action='/'>
  <input type='hidden' value='<%= @api_id %>' name='api_id'>
  <input type='hidden' value='<%= @title %>' name='title'>
  <input type='hidden' value='<%= @category %>' name='category'>
  <input type='hidden' value='<%= @authors %>' name='authors'>
  <input type='hidden' value='<%= @picture %>' name='picture'>
  <input type='radio' name="interest" value="true">Yes
  <input type='radio' name="interest" value="false">No
  <input type='submit' class="button">
</form>

<!--  I AM PARAMS: <%= params %> -->