<div class="row">
  <div class="large-8 columns" id="top">
    <span>bookworm</span>
    <img src="../images/bookworm.jpg" id ="top_pic">
  </div>

  <div class="large-3 flow-opposite columns">
    <form method='post' action='/signout'>
      <input type='submit' class="button right" id="log" value='Logout'>
    </form>
  </div>

</div>

<hr>

<div class="row main">
  <div class="large-6 large-centered text-center columns">
    <h2>Interested?</h2>
    <div class="row swipe">
      <div class="large-4 columns">
        <form method='post' action='/'>
          <input type='hidden' value='<%= @api_id %>' name='api_id'>
          <input type='hidden' value='<%= @title %>' name='title'>
          <input type='hidden' value='<%= @category %>' name='category'>
          <input type='hidden' value='<%= @authors %>' name='authors'>
          <input type='hidden' value='<%= @picture %>' name='picture'>
          <button type='submit' class="button large round like" name="interest" value="false">NO</button>
      </div>
      <div class="large-4 columns">
        <img src="<%= @book[:picture] %>"/>
      </div>
      <div class="large-4 columns">
        <button type='submit' class="button large round like" name="interest" value="true" >YES</button>
      </form>
      </div>
    </div>
    <h3><%= @title %></h3>
    <% if @authors != nil %>
      <% @authors.each do |author| %>
          <h5><%= author %></h5>
      <% end %>
    <% end %> 
  </div>
</div>

</br>
<hr>
<h2><%= session[:username] %>'s Bookshelf</h2>
<hr>
  <% @pics.each do |pic| %>
      <img src="<%= pic %>"/>
  <% end %>